<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - KFH</title>
    <link rel="stylesheet" href="~/css/backend-plugin.min.css">
    <link rel="stylesheet" href="~/css/backend.css?v=1.0.0">
    <link rel="stylesheet" href="~/vendor/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/remixicon/fonts/remixicon.css">
    <style>

        header, .header, nav {
            background: linear-gradient(to right, #006a00, #141412);
            color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow here */
        }

        .header {
            background: linear-gradient(to right, #006a00, #141412);
            color: white;
        }

        .navbar {
            background-color: #f8f9fa;
            padding: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .navbar .nav-center {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .navbar .logo {
                height: 50px;
                width: auto;
                margin-right: 10px;
            }

        .navbar-brand {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            margin-top: 121px;
            left: 0;
            background-color: #f8f9fa;
            padding-top: 20px;
            display: none;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }

            .sidebar .nav-item .nav-link {
                padding: 15px 20px;
                display: block;
                color: #000;
            }

                .sidebar .nav-item .nav-link:hover {
                    background-color: #e9ecef;
                }

        .main-container {
            margin-left: 0;
            padding-top: 70px; /* Adjust this value if your navbar height changes */
            transition: margin-left 0.3s;
        }

        .container-fluid {
            padding: 0;
        }

        .content {
            margin-top: 80px; /* Adjust this value if your navbar height changes */
            padding: 20px; /* Added padding to the content */
        }

        .iq-footer {
            padding: 20px 0;
            background: #f8f9fa;
        }

        .footer-text {
            margin: 0;
        }

        .toggle-btn {
            color: white;
            position: fixed;
            top: 42px;
            left: 25px;
            z-index: 1001;
            background-color: #f8f9fa;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            background: none;
        }

        .logout-btn {
            color: white;
            position: absolute;
            top: 42px;
            right: 25px;
            z-index: 1001;
            background-color: #f8f9fa;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            background: none;
        }

        .header .logo-text, .header h1, .navbar-brand {
            color: white;
        }
    </style>
</head>
<body class="">
    <div class="header-container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light border-bottom mb-3">
                <div class="container">
                    <div class="nav-center" style="display: flex; flex-direction: column;">
                        @if (!(ViewContext.RouteData.Values["controller"]?.ToString() == "Login" && ViewContext.RouteData.Values["action"]?.ToString() == "Index"))
                        {
                            <a href="Dashboard" style="padding-top: 1.5rem;">
                                <img src="~/images/logo_kfh_shortcuts.png" alt="Kuwait Finance House Logo" class="logo">
                            </a>
                            <a class="navbar-brand" style="color: white; padding-top: 0rem; padding-bottom: 1.5rem" asp-area="" asp-controller="Dashboard" asp-action="Index">KFH Shortcuts</a>
                        }
                        else
                        {
                            <div style="padding-top: 1.5rem">
                                <img src="~/images/logo_kfh_shortcuts.png" alt="Kuwait Finance House Logo" class="logo">
                            </div>
                            <span class="navbar-brand" style="color: white; padding-top: 0rem; padding-bottom: 1.5rem">KFH Shortcuts</span>
                        }
                    </div>
                    @if (!(ViewContext.RouteData.Values["controller"]?.ToString() == "Login" && ViewContext.RouteData.Values["action"]?.ToString() == "Index"))
                    {
                        <button class="btn btn-link text-white logout-btn" onclick="document.getElementById('logout-form').submit();">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                        <form id="logout-form" asp-action="Logout" asp-controller="Login" method="post" style="display: none;"></form>
                    }
                </div>
            </nav>
        </header>
    </div>


    @if (!(ViewContext.RouteData.Values["controller"]?.ToString() == "Login" && ViewContext.RouteData.Values["action"]?.ToString() == "Index"))
    {
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        <div class="sidebar" id="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Reward" asp-action="Index">Reward</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Index">Request</a>
                </li>
            </ul>
        </div>
    }
    <div class="main-container" id="main-container">
        <div class="container content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- Backend Bundle JavaScript -->
    <script src="~/js/backend-bundle.min.js"></script>
    <!-- Table Treeview JavaScript -->
    <script src="~/js/table-treeview.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="~/js/customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script async src="~/js/chart-custom.js"></script>
    <!-- app JavaScript -->
    <script src="~/js/app.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var mainContainer = document.getElementById("main-container");
            if (sidebar.style.display === "none" || sidebar.style.display === "") {
                sidebar.style.display = "block";
                mainContainer.style.marginLeft = "250px";
            } else {
                sidebar.style.display = "none";
                mainContainer.style.marginLeft = "0";
            }
        }
    </script>
</body>
</html>
