@model FrontKFHShortcuts.Models.Catalog.CategoryRequest

@{
    ViewBag.Title = "Add Category";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Add Category</h2>
            @using (Html.BeginForm("Create", "Category", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="Name">Category Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Category Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary">Add Category</button>
                <button type="reset" class="btn btn-secondary" style="background-color: #dc3545">Reset</button>
            }
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .btn-primary {
        background-color: #008930;
        border-color: #008930;
    }
</style>