@model FrontKFHShortcuts.Models.Catalog.CategoryRequest

@{
    ViewBag.Title = "Add Category";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Add Category</h2>
            @using (Html.BeginForm("Create", "Category", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="Name">Category Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Category Name" })
                </div>
                <button type="submit" class="btn btn-primary">Add Category</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            }
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .btn-primary {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-secondary {
        background-color: #ffc107;
        border-color: #ffc107;
    }
</style>
